<div class="card">
    <div class="card-header">
        The maker
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="round" src="assets/photo4.jfif" alt="maker">
                </div>
                <div class="col">
                    <blockquote class="blockquote mb-0"> <br/>
                    <p>Your limitation — it’s only your imagination.</p>
                    <footer class="blockquote-footer">Someone in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>                        
                </div>
            </div>
        </div>
    </div>
</div>